@import url('https://fonts.googleapis.com/css?family=Lilita+One|Roboto');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
/* body{
	background: url("../images/a.jpeg");
} */
.navbar{
	position:fixed;
	top:0;
	width:100%;
	z-index:1000
}
.navbar-brand{
	padding-top:10px; 
	float: left; 
	
}

.navbar-brand a{
	font-family: 'Lilita One', cursive;
	font-size: 28px;
	color: #f2f2f2;
	letter-spacing: 2px;
	transition:0.3s;
	text-shadow: 3px 2px 2px rgba(9, 9,9, 9);
}
.navbar-brand a:hover{
	text-decoration: none;
	color:white;
}

.navbar-brand:hover{
	text-shadow: 3px 2px 2px rgba(9, 9,9, 9);
}


.navbar-brand sub{
	position: absolute;
	font-size: 14px;
	left:130px;
	top:70px;
	font-family: 'Roboto', sans-serif;
	color:#f3f4f4;
	transition:0.3s;
	text-shadow: 3px 2px 3px rgba(9, 9,9, 9);
}
.navbar-brand img{
	width: 100px;
	height: 60px;
}
.topnav{
	float:right;
}

.navlinks a{
	color:white;
	padding-right:20px;
	font-family: 'Roboto';
	font-weight: 300;
	font-size: 16px;
	transition: 0.3s;
}
.navlinks{
	padding-top:20px;
}

.banner{
	height: 694px;
	width: 100%;	
	margin:0;
	background: url("../images/a.jpeg");
	-webkit-transition: all ease 5s;
	-moz-transition: all ease 5s;
	-o-transition: all ease 5s;
	transition: all ease 5s;
}

.banner:hover{
	-ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
	 transform: scale(1.1);

  
}
.banner-text:hover{
	-ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
	 transform: scale(1.1);
	 cursor: pointer;
  
}

.banner h1{
	font-family: 'Roboto';
	font-size: 65px;
	font-weight: 1000;
}
.banner h5{
	font-family: 'Roboto';
}
.bg-1{
	background: white;
	height: 500px;
}
.banner-text{
	position: absolute;
	top:40%;
	/* left:30%; */
	transition: 1s;
	color:white;
	text-align: center;
}

/* Image zoom on hover + Overlay colour */
.parent { 
    overflow: hidden;
    position: relative;
}

.child {
	background: url("/assets/images/a.jpeg");
    height: 102%;
    width: 102%;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: all 3s;
    -moz-transition: all 3s;
    -o-transition: all 3s;
    transition: all 3s;
}

.parent:hover .child, .parent:focus .child {
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.parent:hover .child:before, .parent:focus .child:before {
    display: block;
}

.content{
	
	z-index:1;
}

hr{
	width :60%;
	height: 2px;
	background-color: blue;
	transform: stretch(80px);
	position: relative;
	margin-left:0;
	margin-top: 0;
	-webkit-animation-name: underline-effect; /* Safari 4.0 - 8.0 */
	-webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
	animation-name: underline-effect;
	animation-duration: 4s;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}
/* div {
	width: 100px;
	height: 100px;
	background-color: red;
	-webkit-animation-name: example; /* Safari 4.0 - 8.0 */
	/*-webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
/*	animation-name: example;
	animation-duration: 4s;
  }
   */
  /* Safari 4.0 - 8.0 */
  @-webkit-keyframes underline-effect {
	0%   {width:0%;}
	50%  {width:30%;}
	100% {width:60%;}
  }
  
  /* Standard syntax */
  @keyframes underline-effect {
	0%   {width:0%;}
	50%  {width:30%;}
	100% {width:60%;}
  }

  .content{
	  font-family:'Roboto';
  }

	/* About Section Start*/
	.about-section{
		/* background-color:#113b7e; */
		width:65%;
		height: 500px;
		margin-left: 10%;
		margin-top: 7%;
}
/* .about-section{
	 
} */
.about-text h3{
		color:#134ead;
		font-weight: bolder;
		font-size: 52px;
	
		right:10%;  
	 
		margin-top:20px;
		z-index:1;
}
.about-text p{
		color:#b99e9e;
	 
		font-family: 'Roboto';
		font-size: 18px;
		
		text-align: justify;
	 width:60%;
	
		left:0%; 
		z-index: 1;
}

.video-background{    
		min-width:80%;
		min-height:80%;
		width:auto;
		height: auto;
		z-index:-1;
		position: absolute;
		right:-300px;
}

@media (min-aspect-ratio:16/9)
{
		.video-background{
				max-width:80%;
				height:auto;
		}
}
@media(max-aspect-ratio:16/9){
		.video-background{
				widows: 100%;
				height: auto;
		}
}
/* About Section End*/
/* Service Section Start*/
.service-section{
		position:relative;
}
.service-block{
		position: relative;
}
.service-block .inner-box{
		position: relative;
		transition: all 0.3s ease;
}
.service-block .image-box .image{
		position:relative;
		background-position: center center;
		background-repeat:no-repeat;
		background-size:contain;
		height:452px;
		overflow: hidden; 
		width:100%;
}
.service-block .image-box .image img{
		display:none;
		width: 100%;
		height:auto;
}

.service-block .content-box{
		position: relative;
		display: table;
		width:100%;
		height:450px;
		vertical-align: middle;
		padding: 20px 15px;
		background-color:#134ead;

}
.service-block .content-box:before{
		position: absolute;
		left:50%;
		border-left:175px solid #134ead;
		border-right:175x solid #134ead;
		border-top: 36px solid #134ead;
		content:"";
		margin-left: -175px;
		bottom: -35px;
		/* z-index:9; */
}
.service-block:nth-child(odd) .content-box:before{
		bottom: auto;
		top: -35px;
		border-top: 0;
		border-bottom: 36px solid #134ead;
}

.service-block .content-box .content{
		position: relative;
		display: table-cell;
		vertical-align: middle;
		text-align: center;
}
.service-block .content h3 a{
		color: #ee4035;

		transition:  all 300ms ease;
}
.service-block .content h3 a:hover{
		color:#ee4035;
		text-decoration: none;
		position: relative;
		display: inline-block;
		font-size:14px;
		line-height:25px;
}
.service-block .content p{
		color:white;
		font-weight:lighter;
		font-size: 16px;
		font-family: 'Roboto';
}
.service-block .content .link-box a{
		position:relative;
		font-size: 14px;
		line-height: 25px;
		/* color:#222222; */
		font-weight: 500;
		padding-left:40px;
		transition:  all 0.3s ease;
}
.service-block .content .link-box a:hover{
		color: white;
		text-decoration:none;
		padding-left:20px;
}
.service-block .content .link-box a:before{
	 position: absolute;
	 left:0;
	 top:12px;
	 height: 2px;
	 width:25px;
	 background-color:  #ee4035;
	 content:"";
	 transition:  all 0.3s ease;
}
.service-block .content .link-box a:hover:before{
		padding-right:20px;
}
.row no-gutters [col*=col-]{
		padding-left: 0;
		padding-right: 0;
}
.service-section h4{
		color:#ee4035;
		font-weight: bolder;
		font-size: 52px;
		text-align: center;
		right:10%;  
		margin-bottom:20px;
		margin-top:20px;
		z-index:1;
}

/* Service Section end*/

/* Intro section  start */

body{
	overflow-x: hidden;
}
.intro{
	width:60%;
	height: 40%;
 
	margin-left:20%;
	margin-top: 5%; 
}
.intro h3 {
	font-weight: bolder;
	font-family: 'Roboto';
	color: #404247;
	width:100%;
	margin-right: 0;

}

.intro-body{
	padding-left:5%;
	border-left: 2px solid #134ead;
	text-align: justify;
	margin-bottom: 5%;
} 
.intro-body h4 ,.service-section h4 {
	font-weight: bolder;
	color: #404247;
	font-family: 'Roboto';
	text-align: left;
	margin-left: 0;
}

.section{
	width:100%;
	height: 100vh;
}
/* Intro section  end */